body {
    margin: 0px;
    background-color: black;
}

#wrapper {
    width: 80%;
    margin: 0px auto;
}

header {
    height: 300px;
    background-color: lightblue;
}

nav {
    height: 100px;
    background-color: lightcoral;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
    background-color: lightcyan;
}

section {
    width: 80%;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
}

.sub-section {
    min-height: 200px;
    width: 97%;
    border-radius: 20px;
    background-color: lightsalmon;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

figcaption {
    font-size: large;
    text-align: center;

}


footer {
    min-height: 100px;
    background-color: lightgray;
}