@charset "utf-8";

/*視窗背景色設定*/
body {
    background-color: #fbf9cc;
    background-image: url(../img/blyat.jpg);
    background-repeat: repeat-x;
}

/*連結顏色設定*/
a {
    color: #df4839;
}

/*頁首,導覽,頁尾的共通設定*/


/*導覽樣式設定*/


/*頁面標題設定*/
h1 {
    line-height: 1;
    text-align: center;
    font-size: 300%;
    background-color: #6fbb9a;
    color: #fff;
    border: 5px dotted #95dbbd;
    width: 300px;
    margin: 40px auto;
    padding: 30px;
}

/*次標題設定*/
h2 {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
}

/*小標題設定*/


/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/


/*圓形圖片設定*/